.navigation
  position fixed; top 0
  width 100%; background-color white
  border-bottom solid 4px #eeeeee

  .navigation-wrapper
    .branding
      float left; line-height 70px

    .navigation-menu
      float right

      .menu-item
        display inline-block; cursor pointer
        padding 0 16px; margin-bottom -4px
        border-bottom solid 4px transparent
        font-weight bold; text-transform uppercase
        color #48494b; font-size 15px
        line-height 70px

        &.active, &:hover
          border-bottom solid 4px #B95454
          color #c75b5b

  .authentication-wrapper
    background-color #3A4557; color white
    height 50px; position relative

    .ribbon
      position absolute
      width 45%; height 40px; bottom 0;
      background-color white
      background-image url('../images/nav-radius.png')
      background-position top right
      background-repeat no-repeat
      background-size contain

    .container
      height 100%

      .commands
        float right; height 100%

        .auth-menu-item
          position relative
          float left; padding 0 12px
          line-height 50px; font-size 14px
          color #c3c7ce

          span.fa
            margin-right 5px

          &:after
            content "|"
            position absolute
            right 0px
            top 0px
          &:last-child:after
            display none

          a.btn
            padding 5px 15px
            color #fff
            background-color #b95454
            border-color #b14949 !important
            font-size 13px
            border-bottom solid 2px
