.navigation
  position fixed; top 0
  width 100%

  .branding
    float left; line-height 70px

  .navigation-menu
    float right

    .menu-item
      display inline-block; cursor pointer
      padding 24px 14px

      &:last-child { padding-right: 0 }
      &.active { border-bottom: solid 2px orange }